html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ecfbe78e;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}
