.poem-card {
  padding: 12px;
  border: 1px solid rgba(15, 89, 50, 0.3);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transition: transform 0.1s ease-in-out, box-shadow 0.2s ease-in-out,
    background-color 0.2s;
  width: 95%;
  max-width: 800px;
  margin: 8px auto;
  box-sizing: border-box;
}

.poem-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.95);
}

.poem-title {
  font-weight: bold;
  margin-bottom: 4px;
  color: rgb(15, 89, 50);
}

.poem-author {
  font-style: italic;
  margin-bottom: 6px;
  color: rgb(15, 89, 50);
}

.poem-preview {
  color: #4b4a4a;
}

@media (max-width: 480px) {
  .poem-card {
    width: 95%;
    padding: 10px;
  }

  .poem-title {
    font-size: 1.1rem;
  }

  .poem-author,
  .poem-preview {
    font-size: 0.95rem;
  }
}
